#Datasource Configuration
spring:
  datasource:
    url: <need value>
    username: <need value>
    password: <need value>

#JPA Configuration
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: validate
  session:
    store-type: redis
  redis:
    host: <need vale>
    port: 6379

frontend:
  domain: <need value>

# AWS S3 bucket Information
cloud:
  aws:
    s3:
      bucket: <need value>
    region:
      static: <need value>
    stack:
      auto: false
    credentials:
      accessKey: <need value>
      secretKey: <need value>
    cloudFront:
      keyPairId: <need value>
      distributionDomain: <need value>
